
.aboutMe-Text {
    width: 85%;
    padding-top: 8px;
    margin-top: 4px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .aboutMe-Title{
    padding-top: 20px;
    margin: 4px;
    color: #fdff81; 
    text-shadow: 0 0 8px #4e052a; 
    font-size: 32px;

 
  }
  
  .aboutMe-CV {
    align-items: baseline;
    display: flex;
  }
  
  .download-icon {
    background: #e80664;
    box-shadow: 0 0 20px #830137; 
    color: #eeeeee;
    width: 180px;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    border-radius: 16px;
    margin-top: 24px;
   
    text-decoration: none;
  }

  .icon-chevron{
  color: #e80664;
  }

  .icon {
    padding-left: 8px;
    
  }
  .aboutMe-CV span:hover {
    background-color: #540489;
    color: #fff;
  }
  
  .aboutMe-container p {
    font-size: 16px;
    font-weight: 100;
    width: 85%;
  }

  .aboutMe-container {
    margin: 80px;
    width: 100%;
    height: 500px;

  }


  @media only screen and (max-width: 767px) {
    .aboutMe-container {
      margin: 0px;
      padding: 40px 70px 0 70px;
      width: 760px;
      height: 500px;
    
    }
.aboutMe-Text {
  width: 760px;

}
.aboutMe-Title{

  padding-top: 20px;
 
  color: #fdff81; 
  text-shadow: 0 0 8px #4e052a; 
  font-size: 32px;
  text-align: center;


}

.aboutMe-CV {
  align-items: baseline;
  display: flex;
}

.download-icon {
  background: #e80664;
  box-shadow: 0 0 20px #830137; 
  color: #eeeeee;
  width: 180px;
  padding: 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 16px;
  margin-top: 24px;
 
  text-decoration: none;
}

.icon-chevron{
color: #e80664;
}

.icon {
  padding-left: 8px;
  
}
.aboutMe-CV span:hover {
  background-color: #540489;
  color: #fff;
}

.aboutMe-container p {
  font-size: 16px;
  font-weight: 100;
  width: 100%;
}


}


@media only screen and (min-width: 768px) and (max-width: 991px)  {
  .aboutMe-container {
    margin: 0px;
    padding: 40px 70px 0 70px;
    width: 760px;
    height: 500px;
  
  }
.aboutMe-Text {
width: 760px;

}
.aboutMe-Title{

padding-top: 20px;

color: #fdff81; 
text-shadow: 0 0 8px #4e052a; 
font-size: 32px;
text-align: center;


}

.aboutMe-CV {
align-items: baseline;
display: flex;
}

.download-icon {
background: #e80664;
box-shadow: 0 0 20px #830137; 
color: #eeeeee;
width: 180px;
padding: 16px;
font-size: 16px;
text-align: center;
border-radius: 16px;
margin-top: 24px;

text-decoration: none;
}

.icon-chevron{
color: #e80664;
}

.icon {
padding-left: 8px;

}
.aboutMe-CV span:hover {
background-color: #540489;
color: #fff;
}

.aboutMe-container p {
font-size: 16px;
font-weight: 100;
width: 100%;
}


}
